body {
    background-color: #000;
    padding: 200px;
}

.parent { 
    width: 100%;
    height: 500px;
    background-color: #fff;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.child {
    background-color: #9336B4;
    width: 200px;
    height: 200px;   
}

.child2 {
    background-color: #06bbe9;
    width: 200px;
    height: 250px;   
}