*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #FF78C4;
}

@media (min-width: 768px) {
    body {
        background-color:#E1AEFF;
    }
}

@media (min-width: 1024px) {
    body {
        background-color:#B31312;
    }
}

@media (min-width: 1280px) {
    body {
        background-color:#EEE2DE;
    }
}